@model Finalprog02.Models.ClassPacientes

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<br />
<h2>Eliminar</h2>

<h3>Estas seguro que deseas eliminar esto?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asegurado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asegurado)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href="/Pacientes/Index" class="btn btn-warning">Volver a la Lista</a>
@*        @Html.ActionLink("Back to List", "Index")*@
    </div>
    }
</div>
