@model Finalprog02.Models.ClassPacientes

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<h2>Detalles</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asegurado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asegurado)
        </dd>

    </dl>
</div>
<p>
    <div class="btn btn-primary myBtn">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Paciente }) |
    </div>
    <a href="/Pacientes/Index" class="btn btn-warning">Volver a la Lista</a>
   
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
