@model Finalprog02.Models.ClassPacientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassPacientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asegurado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asegurado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Paciente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
