@model IEnumerable<Finalprog02.Models.ClassPacientes>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<p>
    <a href="@Url.Action("Create", "Pacientes")" class="btn btn-success">Crear nuevo</a>
    <a href="@Url.Action("imprimir", "Pacientes")" class="btn btn-danger">PDF</a>
</p>
<p>
    @using (Html.BeginForm("Index", "Pacientes", FormMethod.Post))
    {
    <div style="margin: 0 auto;">
      
        <h4>Listado de Pacientes</h4>
        <div class="row">
           
            @Html.TextBox("busqueda", "", new { @class = "form-control mb-2", placeholder = "Buscar" })
            <select name="select" class="form-control mb-2">
                <option value="">Elige una opcion</option>
                <option value="Nombre_Paciente">Nombre</option>
                <option value="Cedula_Paciente">Cedula</option>
                @*<option value="Asegurado">Asegurado</option>*@
            </select>

            <div class="col-2">
                <button type="submit" class="btn btn-success">✔️</button>
            </div>
            <div>
                <button name="PressBoton" value="Asegurado"  class="btn btn-info">Asegurado✔️</button>
                <button name="PressBoton" value="No Asegurado"  class="btn btn-danger">No Asegurado❌</button>
            </div>
        </div>
    </div>
    }
</p>
<br />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula_Paciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asegurado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula_Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asegurado)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_Paciente }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_Paciente }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_Paciente })
        </td>*@
        <td class="btn btn-primary myBtn">
            @Html.ActionLink("Editar", "Edit", new { id = item.ID_Paciente })
        </td>
        <td class="btn btn-danger myBtn">
            @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Paciente })
        </td>
        <td class="btn btn-success myBtn">
            @Html.ActionLink("Detalles", "Details", new { id = item.ID_Paciente })
        </td>
    </tr>
       
    }

</table>
