<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #ecfbfb;">
        <div class="container">
            <nav class="navbar navbar-light bg-light" style="background-color: #ecfbfb;">
                <a class="navbar-brand" href="/Home/OpcionesGenerales">
                    <img src="~/imgfinall/logoCorazonrojo.png" width="50" height="50" class="d-inline-block align-top" alt="">
                    CENTRO MEDICO DOMINICANO
                </a>
            </nav>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema de control Médico, Ley's Projects</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>

<script src="~/Content/html2pdf.bundle.min.js"></script>
<script>
    function funcionimprimir() {
        var element = document.getElementById('idimpresion');
        var opt = {
            margin: 1,
            filename: 'Docs.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        html2pdf(element, opt);
    }</script>