@model Finalprog02.Models.ClassMedicos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassMedicos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exequátur_Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exequátur_Medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad_Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad_Medico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Medico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
