@model Finalprog02.Models.ClassCitas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClassCitas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicos.Nombre_Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicos.Nombre_Medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.Nombre_Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.Nombre_Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Cita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Cita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_cita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_cita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Citas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
