@model IEnumerable<Finalprog02.Models.ClassCitas>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<p>
    <a href="@Url.Action("Create", "Citas")" class="btn btn-success">Crear Nuevo</a>
    @*<a href="@Url.Action("imprimir", "Citas")" class="btn btn-danger">PDF</a>*@
    <button onclick="funcionimprimir()" class="btn btn-danger">PDF</button>
    <a href="/Citas/Create" class="btn btn-warning">Atrás</a>
</p>
<p>
    @using (Html.BeginForm("Index", "Citas", FormMethod.Post))
    {
        <div style="margin: 0 auto;">
            <h4>Citas</h4>
            <h5>Formato Fecha YYYY-MM-DD</h5>
            <div class="row">
                @Html.TextBox("busqueda", "", new { @class = "form-control mb-2", placeholder = "Buscar" })
                <select name="select" class="form-control mb-2">
                    <option value="">Elige una opcion</option>
                    <option value="Nombre_Medico">Doctor</option>
                    <option value="Nombre_Paciente">Paciente</option>
                    <option value="Fecha_Cita">Fecha</option>
                </select>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">✔️</button>
                </div>
            </div>
        </div>
    }
</p>
<br />
<div id="idimpresion">
    <h4>Citas Médicas Programadas</h4>
    <table class="table table-striped" id="idimpresion">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicos.Nombre_Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.Nombre_Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Cita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora_cita)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicos.Nombre_Medico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.Nombre_Paciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Cita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora_cita)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_Citas }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_Citas }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_Citas })
                    </td>*@
            </tr>
        }

    </table>
</div>